name: Build Aplikasi Xhalona

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Ambil kode repositori
      - name: Ambil kode
        uses: actions/checkout@v4
        with:
          show-progress: true

      # Setup Node.js for semantic-release
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'

      # Clear npm cache
      - name: Clear npm cache
        run: npm cache clean --force

      # Install dependensi node untuk semantic-release
      - name: Install Dependencies
        run: npm install

      # Jalankan jalankan semantic-release
      - name: Run Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

      # Setup JDK 17
      - name: Siapkan JDK 17 (Microsoft Distribution)
        uses: actions/setup-java@v3.10.0
        with:
          distribution: 'microsoft'
          java-version: '17'

      # Install Flutter
      - name: Install Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: 3.27.0

      # Cek versi flutter
      - name: Cek Versi Flutter
        run: flutter --version

      # Install dependensi flutter
      - name: Install dependensi
        run: flutter pub get

      # Build bundel aplikasi Android
      - name: Build Bundel Aplikasi Android
        if: vars.PLATFORM == 'android'
        run: flutter build appbundle --release

      # Unggah bundel aplikasi Android
      - name: Unggah Bundel Aplikasi Android
        if: vars.PLATFORM == 'android'
        uses: actions/upload-artifact@v4
        with:
          name: bundel-aplikasi-android
          path: build/app/outputs/bundle/release/app-release.aab

      # Tanda Tangani bundel aplikasi Android
      - name: Tanda Tangan Bundel Aplikasi Android
        if: vars.PLATFORM == 'android'
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: build/app/outputs/bundle/release/
          signingKeyBase64: ${{ secrets.KEYSTORE_BASE64 }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_ALIAS_PASSWORD }}

      # Build aplikasi iOS
      - name: Build Aplikasi iOS
        if: vars.PLATFORM == 'ios'
        run: flutter build ios --release --no-codesign

      # Unggah aplikasi iOS
      - name: Unggah Aplikasi iOS
        if: vars.PLATFORM == 'ios'
        uses: actions/upload-artifact@v4
        with:
          name: aplikasi-ios
          path: build/ios/iphoneos/*.app

      # Rilis Aplikasi Android
      - name: Rilis Aplikasi Android
        if: vars.PLATFORM == 'android'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          files: build/app/outputs/bundle/release/app-release.aab
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Rilis Aplikasi iOS
      - name: Rilis Aplikasi iOS
        if: vars.PLATFORM == 'ios'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          files: build/ios/iphoneos/*.app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  cleanup:
    runs-on: ubuntu-latest
    needs: [build]
    if: always()
    steps:
      # Kirim notifikasi email jika gagal
      - name: Kirim notifikasi email jika gagal
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Gagal'
          body: |
            Build telah gagal untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}

      # Kirim notifikasi email jika sukses
      - name: Kirim notifikasi email jika sukses
        if: success() && github.ref == 'refs/heads/main'
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Sukses'
          body: |
            Build telah berhasil untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Aplikasi telah dirilis. Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}