name: Build Aplikasi Xhalona

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Ambil kode
        uses: actions/checkout@v4

  cache:
    runs-on: ubuntu-latest
    steps:
      # Cache untuk Java
      - name: Restore Java cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: java-${{ runner.os }}-build-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            java-${{ runner.os }}-build-

      # Cache untuk Flutter
      - name: Restore Flutter cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
            build
          key: flutter-${{ runner.os }}-build-${{ hashFiles('pubspec.yaml') }}
          restore-keys: |
            flutter-${{ runner.os }}-build-

  setup:
    runs-on: ubuntu-latest
    needs: [checkout, cache]
    outputs:
      version: ${{ steps.update_version.outputs.version }}
      current_version: ${{ steps.update_version.outputs.current_version }}
      project_root: ${{ steps.find_project_root.outputs.root }}
    steps:
      - name: Siapkan JDK 17 (Microsoft Distribution)
        uses: actions/setup-java@v3
        with:
          distribution: 'microsoft'
          java-version: '17'

      # Install Flutter
      - name: Install Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: 3.27.0

      # Cek versi flutter
      - name: Cek Versi Flutter
        run: flutter --version

      # Auto-detect project root
      - name: Find Project Root
        id: find_project_root
        run: |
          ROOT_DIR=$(find . -name "pubspec.yaml" -exec dirname {} \; | head -n 1)
          echo "Project root detected at: $ROOT_DIR"
          echo "::set-output name=root::$ROOT_DIR"

      # Install dependensi flutter
      - name: Install dependensi
        run: flutter pub get
        working-directory: ${{ steps.find_project_root.outputs.root }}

      # Perbarui versi gradle
      - name: Pasang Gradle versi 8.0
        run: |
            sed -i 's|distributionUrl=.*|distributionUrl=https://services.gradle.org/distributions/gradle-8.0-all.zip|' ${{ steps.find_project_root.outputs.root }}/android/gradle/wrapper/gradle-wrapper.properties

      # Perbarui versi aplikasi flutter
      - name: Perbarui Versi
        id: update_version
        run: |
            CURRENT_VERSION=$(grep 'version: ' ${{ steps.find_project_root.outputs.root }}/pubspec.yaml | sed 's/version: //')
            IFS='+' read -r VERSION CODE <<< "$CURRENT_VERSION"
            NEW_CODE=$((CODE + 1))
            NEW_VERSION="$VERSION+$NEW_CODE"

            echo "Updating version from $CURRENT_VERSION to $NEW_VERSION"

            if [ ! -f ${{ steps.find_project_root.outputs.root }}/pubspec.yaml ]; then
                echo "Error: pubspec.yaml file does not exist."
                exit 1
            fi

            sed -i "s/version: $CURRENT_VERSION/version: $NEW_VERSION/" ${{ steps.find_project_root.outputs.root }}/pubspec.yaml || {
                echo "Error: Failed to update version in pubspec.yaml"
                exit 1
            }

            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"

            if ! git diff --quiet; then
                git commit -m "Update version to $NEW_VERSION"
            else
                echo "No changes to commit."
            fi

            echo "::set-output name=version::$NEW_VERSION"
            echo "::set-output name=current_version::$CURRENT_VERSION"

  build_android:
    runs-on: ubuntu-latest
    needs: [setup]
    if: vars.PLATFORM == 'android'
    steps:
      - name: Build Bundel Aplikasi Android
        run: flutter build appbundle --release

      - name: Unggah Bundel Aplikasi Android
        uses: actions/upload-artifact@v4
        with:
          name: bundel-aplikasi-android
          path: build/app/outputs/bundle/release/app-release.aab

      - name: Tanda Tangan Bundel Aplikasi Android
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: build/app/outputs/bundle/release/
          signingKeyBase64: ${{ secrets.KEYSTORE_BASE64 }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_ALIAS_PASSWORD }}

  build_ios:
    runs-on: ubuntu-latest
    needs: [setup]
    if: vars.PLATFORM == 'ios'
    steps:
      - name: Dekode Sertifikat iOS
        run: |
          echo "${{ secrets.IOS_CERTIFICATE }}" | base64 --decode > ios_certificate.p12

      - name: Install Sertifikat iOS
        run: |
          security create-keychain -p "" build.keychain
          security import ios_certificate.p12 -k build.keychain -P "${{ secrets.CERT_PASSWORD }}" -T /usr/bin/codesign
          security list-keychains -s build.keychain
          security unlock-keychain -p "" build.keychain

      - name: Build Aplikasi iOS
        run: flutter build ios --release --no-codesign

      - name: Unggah Aplikasi iOS
        uses: actions/upload-artifact@v4
        with:
          name: aplikasi-ios
          path: build/ios/iphoneos/*.app

  cleanup:
    runs-on: ubuntu-latest
    needs: [build_android, build_ios]
    steps:
      # Kirim notifikasi email jika gagal
      - name: Kirim notifikasi email jika gagal
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Gagal'
          body: |
            Build telah gagal untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}

      - name: Unggah log
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: log-build
          path: build/logs/

      - name: Bersihkan cache jika gagal
        if: failure()
        run: |
          echo "Cleaning up cache..."
          [ -d ~/.m2/repository ] && rm -rf ~/.m2/repository
          [ -d ~/.pub-cache ] && rm -rf ~/.pub-cache
          [ -d build ] && rm -rf build/*
          [ -d build/logs ] && rm -rf build/logs/*

      # Kirim notifikasi email jika sukses
      - name: Kirim notifikasi email jika sukses
        if: success() && github.ref == 'refs/heads/main'
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Sukses'
          body: |
            Build telah berhasil untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Aplikasi telah dirilis. Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}

  release:
    runs-on: ubuntu-latest
    needs: [build_android, build_ios, setup]
    steps:
      # Buat tag untuk rilis
      - name: Buat Tag Rilis
        run: |
          TAG_NAME="${{ needs.setup.outputs.version }}"
          echo "Creating release tag: $TAG_NAME"
          git tag "$TAG_NAME"
          git push origin "$TAG_NAME"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Rilis Aplikasi Android
      - name: Rilis Aplikasi Android
        if: vars.PLATFORM == 'android' && needs.setup.outputs.version != needs.setup.outputs.current_version
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.setup.outputs.version }}
          files: build/app/outputs/bundle/release/app-release.aab
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Rilis Aplikasi iOS
      - name: Rilis Aplikasi iOS
        if: vars.PLATFORM == 'ios' && needs.setup.outputs.version != needs.setup.outputs.current_version
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.setup.outputs.version }}
          files: build/ios/iphoneos/*.app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}