name: Build Aplikasi Xhalona

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.platform == 'android' && 'ubuntu-latest' || 'macos-latest' }}
    strategy:
      matrix:
        platform: ${{ fromJson(vars.PLATFORM) }}
    steps:
      # Ambil kode repositori
      - name: Ambil kode
        uses: actions/checkout@v4
        with:
          show-progress: true

      # Setup JDK 17 (Microsoft Distribution)
      - name: Siapkan JDK 17
        uses: actions/setup-java@v3.10.0
        with:
          distribution: 'microsoft'
          java-version: '17'

      # Install Flutter
      - name: Install Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: 3.27.0

      # Cek versi flutter
      - name: Cek Versi Flutter
        run: flutter --version

      # Install pubspec_version_cli
      - name: Install pubspec_version_cli
        run: flutter pub global activate pubspec_version_cli

      # Cache Flutter packages
      - name: Cache Flutter Packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
            !**/pubspec.lock
            build/
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      # Install dependensi flutter
      - name: Install dependensi
        run: flutter pub get

      # Manage Versioning
      - name: Manage Versioning
        id: version
        run: |
          CURRENT_VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //;s/+.*//')
          NEW_BUILD=$(( $(echo $CURRENT_VERSION | awk -F '+' '{print $2}') + 1 ))
          NEW_VERSION=$(echo $CURRENT_VERSION | awk -F '+' '{print $1}')+"$NEW_BUILD"
          echo "NEW_VERSION=${NEW_VERSION}" >> $GITHUB_ENV
          pubspec_version change --version "$NEW_VERSION"

      # Build based on platform
      - name: Build
        id: build
        run: |
          if [[ "${{ matrix.platform }}" == "android" ]]; then
            flutter build appbundle --release
            echo "artifact_path=build/app/outputs/bundle/release/app-release.aab" >> $GITHUB_ENV
          else
            flutter build ios --release --no-codesign
            echo "artifact_path=build/ios/iphoneos/*.app" >> $GITHUB_ENV
          fi
          echo "artifact_path=${artifact_path}" >> $GITHUB_ENV

      # Upload Artifact
      - name: Upload Artifact
        id: upload_artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform == 'android' && 'bundel-aplikasi-android' || 'aplikasi-ios' }}
          path: ${{ steps.build.outputs.artifact_path }}

      # Rilis Aplikasi
      - name: Rilis Aplikasi
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          files: ${{ steps.build.outputs.artifact_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  cleanup:
    runs-on: ubuntu-latest
    needs: [build]
    if: always()
    steps:
      # Kirim notifikasi email jika gagal
      - name: Kirim notifikasi email jika gagal
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Gagal'
          body: |
            Build telah gagal untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}

      # Kirim notifikasi email jika sukses
      - name: Kirim notifikasi email jika sukses
        if: success() && github.ref == 'refs/heads/main'
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Sukses'
          body: |
            Build telah berhasil untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Aplikasi telah dirilis. Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}