name: Build Aplikasi Xhalona

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.platform == 'android' && 'ubuntu-latest' || 'macos-latest' }}
    strategy:
      matrix:
        platform: ${{ fromJson(vars.PLATFORM) }}
    steps:
      # Ambil kode repositori
      - name: Ambil kode
        uses: actions/checkout@v4
        with:
          show-progress: true

      # Setup JDK 17 (Microsoft Distribution)
      - name: Siapkan JDK 17
        uses: actions/setup-java@v3.10.0
        with:
          distribution: 'microsoft'
          java-version: '17'

      # Install Flutter
      - name: Install Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: 3.27.0

      # Cek versi flutter
      - name: Cek Versi Flutter
        run: flutter --version

      # Install pubspec_version_cli
      - name: Install pubspec_version_cli
        run: flutter pub global activate pubspec_version_cli

      # Cache Flutter packages
      - name: Cache Flutter Packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
            !**/pubspec.lock
            build/
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      # Install dependensi flutter
      - name: Install dependensi
        run: flutter pub get

      # Manage Versioning
      - name: Manage Versioning
        id: version
        run: |
          set -e
          CURRENT_VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //;s/+.*//') || { echo "Failed to read version"; exit 1; }
          NEW_BUILD=$(( $(echo $CURRENT_VERSION | awk -F '+' '{print $2}') + 1 )) || { echo "Failed to calculate new build number"; exit 1; }
          NEW_VERSION=$(echo $CURRENT_VERSION | awk -F '+' '{print $1}')+"$NEW_BUILD" || { echo "Failed to create new version string"; exit 1; }
          echo "NEW_VERSION=${NEW_VERSION}" >> $GITHUB_ENV
          pubspec_version change --version "$NEW_VERSION" || { echo "Failed to update pubspec version"; exit 1; }

      # Build based on platform
      - name: Build
        id: build
        run: |
          if [[ "${{ matrix.platform }}" == "android" ]]; then
            flutter build appbundle --release
            echo "build_path=build/app/outputs/bundle/release" >> $GITHUB_ENV
            echo "artifact_path=build/app/outputs/bundle/release/app-release.aab" >> $GITHUB_ENV
          else
            flutter build ios --release --no-codesign
            echo "build_path=build/ios/iphoneos" >> $GITHUB_ENV
            echo "artifact_path=build/ios/iphoneos/*.app" >> $GITHUB_ENV
          fi

      # Sign Android App Bundle
      - name: Sign Android App Bundle
        if: matrix.platform == 'android'
        uses: r0adkll/sign-android-release@v1.0.4
        with:
          releaseDirectory: ${{ env.build_path }}
          signingKeyBase64: ${{ secrets.KEYSTORE_BASE64 }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_ALIAS_PASSWORD }}

      # Sign iOS App
      - name: Sign iOS App
        if: matrix.platform == 'ios'
        run: |
          security create-keychain -p "${{ secrets.KEYCHAIN_PASSWORD }}" build.keychain
          security unlock-keychain -p "${{ secrets.KEYCHAIN_PASSWORD }}" build.keychain
          security set-keychain-settings -t 3600 -l ~/Library/Keychains/build.keychain
          
          echo "${{ secrets.IOS_PROVISIONING_PROFILE }}" | base64 --decode > ~/Library/MobileDevice/Provisioning\ Profiles/my_profile.mobileprovision
          echo "${{ secrets.IOS_CERTIFICATE }}" | base64 --decode > certificate.p12
          security import certificate.p12 -P "${{ secrets.IOS_CERTIFICATE_PASSWORD }}" -T /usr/bin/codesign
          codesign -f -s "${{ secrets.IOS_CERTIFICATE_NAME }}" --deep --timestamp --options=runtime ${{ env.build_path }}/*.app

      # Upload Artifact
      - name: Upload Artifact
        id: upload_artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform == 'android' && 'bundel-aplikasi-android' || 'aplikasi-ios' }}
          path: ${{ env.artifact_path }}

      # Rilis Aplikasi
      - name: Rilis Aplikasi
        id: release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.NEW_VERSION }}
          files: ${{ env.artifact_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Update tag if exists
      - name: Check and Create Tag
        run: |
          git fetch --tags
          if git rev-parse "refs/tags/${{ env.NEW_VERSION }}" >/dev/null 2>&1; then
            echo "Tag ${NEW_VERSION} already exists. Skipping tag creation."
          else
            git tag ${{ env.NEW_VERSION }}
            git push origin ${{ env.NEW_VERSION }}
          fi

  cleanup:
    runs-on: ubuntu-latest
    needs: [build]
    if: always()
    steps:
      - name: Kirim notifikasi email jika gagal
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Gagal'
          body: |
            Build telah gagal untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}

      - name: Kirim notifikasi email jika sukses
        if: success() && github.ref == 'refs/heads/main'
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Sukses'
          body: |
            Build telah berhasil untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Aplikasi telah dirilis. Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}