name: Bangun Aplikasi Xhalona

on:
  push:
    branches:
      - main # Ganti dengan branch yang Anda gunakan

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Ambil kode
        uses: actions/checkout@v4

      # Cache untuk Java
      - name: Restore Java cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: java-${{ runner.os }}-build-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            java-${{ runner.os }}-build-

      - name: Siapkan JDK 17 (Microsoft Distribution)
        uses: actions/setup-java@v3
        with:
          distribution: 'microsoft'
          java-version: '17'

      # Cache untuk Flutter
      - name: Restore Flutter cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
            build
          key: flutter-${{ runner.os }}-build-${{ hashFiles('pubspec.yaml') }}
          restore-keys: |
            flutter-${{ runner.os }}-build-

      # Install flutter
      - name: Install Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: 3.27.0

      # Cek versi flutter
      - name: Cek Versi Flutter
        run: flutter --version

      # Install dependensi flutter
      - name: Install dependensi
        run: flutter pub get

      # Perbarui versi gradle
      - name: Pasang Gradle versi 8.0
        run: |
            sed -i 's|distributionUrl=.*|distributionUrl=https://services.gradle.org/distributions/gradle-8.0-all.zip|' android/gradle/wrapper/gradle-wrapper.properties

      # Perbarui versi aplikasi flutter
      - name: Perbarui Versi
        id: update_version
        run: |
            CURRENT_VERSION=$(grep 'version: ' pubspec.yaml | sed 's/version: //')
            IFS='+' read -r VERSION CODE <<< "$CURRENT_VERSION"
            NEW_CODE=$((CODE + 1))

            echo "Updating version from $CURRENT_VERSION to $VERSION+$NEW_CODE"

            # Check if pubspec.yaml exists
            if [ ! -f pubspec.yaml ]; then
            echo "pubspec.yaml file does not exist."
            exit 1
            fi

            # Update version in pubspec.yaml
            sed -i "s/version: $CURRENT_VERSION/version: $VERSION+$NEW_CODE/" pubspec.yaml || {
            echo "Failed to update version in pubspec.yaml"
            exit 1
            }

            # Configure Git
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"

            # Commit changes
            git commit -m "Update version to $VERSION+$NEW_CODE" || echo "No changes to commit."

            echo "::set-output name=version::${VERSION}+$NEW_CODE"

      # Bangun Android
      - name: Bangun Bundel Aplikasi Android
        if: vars.PLATFORM == 'android'
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > my-release-key.jks
          flutter build appbundle --release
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_ALIAS_PASSWORD: ${{ secrets.KEY_ALIAS_PASSWORD }}

      - name: Unggah Bundel Aplikasi Android
        if: vars.PLATFORM == 'android'
        uses: actions/upload-artifact@v4
        with:
          name: bundel-aplikasi-android
          path: build/app/outputs/bundle/release/app-release.aab

      # Bangun iOS
      - name: Dekode Sertifikat iOS
        if: vars.PLATFORM == 'ios'
        run: |
          echo "${{ secrets.IOS_CERTIFICATE }}" | base64 --decode > ios_certificate.p12

      - name: Install Sertifikat iOS
        if: vars.PLATFORM == 'ios'
        run: |
          security create-keychain -p "" build.keychain
          security import ios_certificate.p12 -k build.keychain -P "${{ secrets.CERT_PASSWORD }}" -T /usr/bin/codesign
          security list-keychains -s build.keychain
          security unlock-keychain -p "" build.keychain

      - name: Bangun Aplikasi iOS
        if: vars.PLATFORM == 'ios'
        run: flutter build ios --release --no-codesign

      - name: Unggah Aplikasi iOS
        if: vars.PLATFORM == 'ios'
        uses: actions/upload-artifact@v4
        with:
          name: aplikasi-ios
          path: build/ios/iphoneos/*.app

      # Kirim notifikasi email jika gagal
      - name: Kirim notifikasi email jika gagal
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Gagal'
          body: |
            Build telah gagal untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}

      # Unggah log jika build gagal
      - name: Unggah log
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: log-build
          path: build/logs/

      # Bersihkan cache jika gagal
      - name: Bersihkan cache jika gagal
        if: failure()
        run: |
          echo "Cleaning up cache..."
          # Tindakan pembersihan bisa ditambahkan di sini jika diperlukan

      # Buat tag untuk rilis
      - name: Buat Tag Rilis
        run: |
          TAG_NAME="${{ steps.update_version.outputs.version }}"
          git tag "$TAG_NAME"
          git push origin "$TAG_NAME"

      # Rilis Aplikasi Android
      - name: Rilis Aplikasi Android
        if: vars.PLATFORM == 'android'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "$TAG_NAME"
          files: build/app/outputs/bundle/release/app-release.aab
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Rilis Aplikasi iOS
      - name: Rilis Aplikasi iOS
        if: vars.PLATFORM == 'ios'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "$TAG_NAME"
          files: build/ios/iphoneos/*.app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Kirim notifikasi email jika sukses
      - name: Kirim notifikasi email jika sukses
        if: success() && github.ref == 'refs/heads/main'
        uses: dawidd6/action-send-mail@v3
        with:
          from: ${{ secrets.SMTP_FROM }}
          to: ${{ vars.SMTP_RECIPIENT }}
          subject: 'Build Sukses'
          body: |
            Build telah berhasil untuk commit ${{ github.sha }} di branch ${{ github.ref }}.
            Aplikasi telah dirilis. Silakan cek detailnya di ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}